TTurboHslLinePicker RCDATA "icons/TTurboHslLinePicker.png"
TTurboHslLinePicker_150 RCDATA "icons/TTurboHslLinePicker_150.png"
TTurboHslLinePicker_200 RCDATA "icons/TTurboHslLinePicker_200.png"
TTurboHsvLinePicker RCDATA "icons/TTurboHsvLinePicker.png"
TTurboHsvLinePicker_150 RCDATA "icons/TTurboHsvLinePicker_150.png"
TTurboHsvLinePicker_200 RCDATA "icons/TTurboHsvLinePicker_200.png"
TTurboRgbLinePicker RCDATA "icons/TTurboRgbLinePicker.png"
TTurboRgbLinePicker_150 RCDATA "icons/TTurboRgbLinePicker_150.png"
TTurboRgbLinePicker_200 RCDATA "icons/TTurboRgbLinePicker_200.png"
TTurboAlphaLinePicker RCDATA "icons/TTurboAlphaLinePicker.png"
TTurboAlphaLinePicker_150 RCDATA "icons/TTurboAlphaLinePicker_150.png"
TTurboAlphaLinePicker_200 RCDATA "icons/TTurboAlphaLinePicker_200.png"
TTurboHslAxisPicker RCDATA "icons/TTurboHslAxisPicker.png"
TTurboHslAxisPicker_150 RCDATA "icons/TTurboHslAxisPicker_150.png"
TTurboHslAxisPicker_200 RCDATA "icons/TTurboHslAxisPicker_200.png"
TTurboHsvAxisPicker RCDATA "icons/TTurboHsvAxisPicker.png"
TTurboHsvAxisPicker_150 RCDATA "icons/TTurboHsvAxisPicker_150.png"
TTurboHsvAxisPicker_200 RCDATA "icons/TTurboHsvAxisPicker_200.png"
TTurboRgbAxisPicker RCDATA "icons/TTurboRgbAxisPicker.png"
TTurboRgbAxisPicker_150 RCDATA "icons/TTurboRgbAxisPicker_150.png"
TTurboRgbAxisPicker_200 RCDATA "icons/TTurboRgbAxisPicker_200.png"
TTurboColorCell RCDATA "icons/TTurboColorCell.png"
TTurboColorCell_150 RCDATA "icons/TTurboColorCell_150.png"
TTurboColorCell_200 RCDATA "icons/TTurboColorCell_200.png"
